<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/CSIS/csis-styles.css">
  <title>Domain Seized</title>
</head>
<body>
  <div>
    <h1>This domain has been seized</h1>
    <div>
      <p>by the Canadian Security Intelligence Service Cyber Crimes Investigation Unit</p>
      <img src="/static/media/CSIS-logo-parody.png" alt="CSIS logo" width="250" height="250">
      <p>As curtsy to your contributions, I think a steam card should suffice</p>
      <div>
        <pre>XXXX-XXXX-XXXX-XXXX</pre>
      </div>
    </div>
  </div>
</body>
</html>