<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../metadata.ejs') %>
  <link rel="stylesheet" href="/static/css/login.css">
  <title>M1337 Login</title>
</head>
<body>
  <div id="login-container">
    <a id="logo" href="/">M1337</a>
    <form id="login-form" action="" method="POST" onsubmit="login()">
      <p id="error-message"></p>
      <input class="styled-text-input" id="username-input" name="username" placeholder="Username" type="text">
      <input class="styled-text-input" id="password-input" autocomplete name="password" placeholder="Password" type="password">
      <input class="styled-button" id="login-button" value="Login" type="submit">
    </form>
  </div>
  <script src="/static/js/login.js"></script>
</body>
</html>