body {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100svh;
  width: 100%;
  position: relative;
  background-color: #e5e5e5;
}

h1,
h2,
h3 {
  font-weight: 300;
}

a,
a:visited {
  color: black;
}

header {
  display: block;
  align-content: center;
  background-color: white;
  position: relative;
  height: 100px;
}

#header-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  padding-left: 3%;
}

header #header-content * {
  margin: 0;
  margin-right: 30px;
}

header #header-content form input {
  margin-right: 0;
}

.styled-text-input {
  margin: 0;
  padding: 10px;
  width: 250px;
  border: 3px solid #9b9b9b;
  border-radius: 25px;
}

#header-content a {
  font-size: 20px;
}

#header-logo-link {
  margin: 0;
  font-size: 30px !important;
  font-weight: 300;
  margin-left: 20px !important;
}

header hr {
  border: 1px solid black;
  width: 95%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 1px 3px #333;
}

.styled-button {
  border: 3px solid #9B9B9B;
  border-radius: 25px;
  width: 320px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  padding: 6px;
  font-size: 40px;
  font-weight: 300;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  transition: 0.1s background-color;
}

.styled-button:hover {
  background-color: rgba(255, 255, 255, 1.0)
}

@media screen and (max-width: 600px) {
  header #header-content {
    display: grid;
    grid-template-rows: repeat(2, auto);
  }

  header #header-content *:not(form) {
    margin: 0;
    margin-top: 6px;
    grid-row-start: 1;
  }

  header #header-content form input {
    margin-top: -6px;
    width: 100%;
  }

  header #header-content form {
    grid-column: 1 / 4;
    grid-row: 2 / end;
  }
}