<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../metadata.ejs') %>
  <title>M1337 Designs</title>
</head>
<body>
    <%- include('../header.ejs') %>
    <h1>
      Designs from programmers, for programmers
    </h1>
    <a href="/shop">Start Shopping</a>
</body>
</html>