<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../metadata.ejs') %>
  <link rel="stylesheet" href="/static/css/inside.css">
  <title>On the Inside</title>
</head>
<body>
  <p>Communication on the inside is all done using a special language that no one has been able to crack, other than the creators of the language itself. Below is the documentation of the language as well as a few test-cases. If you can crack this message below, you'll know the secret behind this website.</p>
  <a href="/static/hidden/GkBfU5vr5TrrVgkBu8Qmxxd4x93zdE3P/strack_docs.zip">strack_docs.zip</a>
  <pre><%- include('../../public/hidden/GkBfU5vr5TrrVgkBu8Qmxxd4x93zdE3P/message.strack') %></pre>
</body>
</html>