<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../metadata.ejs') %>
  <title>On the Inside</title>
</head>
<body>
  <p>On the inside</p>

  <a href="/static/hidden/GkBfU5vr5TrrVgkBu8Qmxxd4x93zdE3P/strack_docs.zip">strack_docs.zip</a>
  <pre><%- include('../../public/hidden/GkBfU5vr5TrrVgkBu8Qmxxd4x93zdE3P/message.strack') %></pre>
</body>
</html>